html{
    font-size: 62.5%;
    background: #bc7bfa;
    
}

/*
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

/*header*/

h1,h2{
text-align: center; 
font-family: Comic Sans MS; 
font-weight:bold; 
font-size: 50px; 
color: #ffffff; 
text-shadow: -1px 0 #5e3281, 0 1px #6b3f8f, 1px 0 #573880, 0 -1px #51226d, -2px 2px 0 #5d307a, 2px 2px 0 #532e75, 1px 1px #414D68, 2px 2px #5c2a79, 3px 3px #4d1e74, 4px 4px #c7cedd, 5px 5px #d9dce2;
padding: 30px; 
}
    


/*header*/

header {
    background: #4A2065;
    display: flex;
    padding: 10px;
    
}
header nav ul li{
    color: white;
    font-size: 20px;
    list-style: none;
    
}
header nav ul li a{ 
    color: white;
    padding: 5px;
    text-decoration: none; 
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 10px;
} 
    
/*servicios pag dos*/
.servicios{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 50px;
    transform: scale(1.3);
    
}
.servicios:hover {-webkit-transform:scale(1.3);transform:scale(1.3);}
.servicios {overflow:hidden;}

body{
    background: #bc7ee0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

/*main index */
.texto p {
    padding: 50px;
    display: flex;
    justify-content: space-between; }
    


/* section index */

.contenedor{
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto auto auto;
    flex-wrap: wrap;
    width: 100%;
    margin: o auto;
    padding: 20px;
}



.caja{
    color: whitesmoke;
    border: 5px solid rgb(131, 90, 165);
    background-color: #a84bff;
    margin: 15px;
    text-align: center;
    border-radius: 20%;
    padding: 10px;
    
}

section{
    padding: 30px;
    font-size: 20px;
}


/* galeria */
.galeria{
    
    border: 10px solid #754692;
}

/*informacion*/

.videos{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
}



footer, button{
    background-color: #783c9e;
    color: beige;
    padding: 20px;
    text-decoration: none; 
    list-style-type: none;
}






/*------------------------------------*/
/* mobile */
@media screen and (min-width: 768px){
    header{
        flex-direction: row;
        
    }
    header nav ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
    }
    
    .contenedor{
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
        "perro1a perro1b"
        "perro2a perro2b"
        "perro3a perro3b"; 
         
    }

    .c1{
        grid-column: 2/3;
    }
    .c2{
        grid-column: 3/4;
    }
    .c3{
        grid-column: 1/2;
    }
    .c4{
        grid-column: 2/3;
    }
    .c5{
        grid-column: 2/3;
    }
    .c6{
        grid-column: 3/4;
    }

    .videos{
        display: flex;
    }
} 
