/*main-index*/

.texto {
    background-color: #c07cff;
    border: 3px solid #ddd;
    border-radius: 50px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto;

    img {
        border: 5px solid #ccc;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}
section{
    padding: 20px;
    font-size: 20px;
    
}
.contenedor {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.caja {
    color: whitesmoke;
    border: 5px solid rgb(131, 90, 165);
    background-color: #a84bff;
    margin: 15px;
    text-align: center;
    border-radius: 20%; 
}
    








