/*header*/

header{
    background: #4A2065;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    div{
        img{
            nav{
                ul{
                    color: $color-letra;
                    font-size: 20px;
                    list-style: none;
                    li{
                        color: $color-letra;
                        justify-content: space-around;
                        a{
                            text-decoration: none; 
                            list-style-type: none;
                        }
                    }
                }
            }

        }
    }
}