/*header*/

$colorletra: white;

header{
	background: $colormenu;
	display: flex;
	justify-content: space-evenly;
	align-content: center;
	padding: 30px;
	flex-direction: column;
	nav {
		ul {
			li {
				color: $colorletra;
				font-size: 20px;
				list-style: none;
				padding: 40px;
				text-align: center;
				a {
					color: $colorletra;
					text-decoration: none;
					list-style-type: none;
					display: flex;
					justify-content: center;
					gap: 10px;
				}
			}
		}
	}
}

