h1,h2{
    text-align: center; 
    font-family: Comic Sans MS; 
    font-weight:bold; 
    font-size: 50px; 
    color: #ffffff; 
    text-shadow: -1px 0 #5e3281, 0 1px #6b3f8f, 1px 0 #573880, 0 -1px #51226d, -2px 2px 0 #5d307a, 2px 2px 0 #532e75, 1px 1px #414D68, 2px 2px #5c2a79, 3px 3px #4d1e74, 4px 4px #c7cedd, 5px 5px #d9dce2;
    padding: 10px; 
    }