//medias
/*------------------------------------*/
/* mobile */
@media screen and (min-width: 768px){
    header{
        flex-direction: row;
        
    }
    header nav ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
    }
    
    .contenedor{
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
        "perro1a perro1b"
        "perro2a perro2b"
        "perro3a perro3b";  
    }

    .c1{
        grid-column: 2/3;
    }
    .c2{
        grid-column: 3/4;
    }
    .c3{
        grid-column: 1/2;
    }
    .c4{
        grid-column: 2/3;
    }
    .c5{
        grid-column: 2/3;
    }
    .c6{
        grid-column: 3/4;
    }

    .videos{
        display: flex;
    }
} 

/* Tablets  */
@media only screen and (min-width: 576px) and (max-width: 768px){

    
}